.serviceItems {
  /* display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  height: auto;
  width: 100%; */
}
.serviceItems > li {
  /* margin: 0.75rem; */
  border: 1px solid #fff;
  padding: 1rem;
  /* width: 100%; */
  height: 400px;
  border-radius: 12px;
}
.dark .serviceItems > li {
  border: 1px solid #333;
}
.serviceItems > li:first-child {
  background-color: #e6ffff;
  color: rgb(3, 105, 161);
}
.serviceItems > li:nth-child(2) {
  min-height: calc(210px - 0.75rem);
  background-color: #ffd9f2;
  color: rgb(126, 34, 206);
}
.serviceItems > li:nth-child(3) {
  min-height: calc(210px - 0.75rem);
  background-color: #e7ffe6;
  color: rgb(22, 163, 74);
}
.dark .serviceItems > li:nth-child(1) {
  background-color: hsl(180, 100%, 10%);
  color: hsl(201, 96%, 90%);
}
.dark .serviceItems > li:nth-child(2) {
  background-color: hsl(321, 100%, 10%);
  color: hsl(272, 72%, 90%);
}
.dark .serviceItems > li:nth-child(3) {
  background-color: hsl(118, 100%, 10%);
  color: hsl(142, 76%, 90%);
}
@media screen and (min-width: 640px) {
  /* .serviceItems {
    flex-wrap: wrap;
    height: 450px;
  } */
}
@media screen and (min-width: 640px) {
  /* .serviceItems > li {
    width: 50%;
  } */
}
